/* Write your CSS here */
.todoItem-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.todo-title {
  color: #000000;
  font-family: roboto;
  font-size: 14px;
}

.delete-button {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 10px;
  color: #ff0b37;
  background-color: #ffffff;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid #ff0b37;
  outline: none;
  cursor: pointer;
}
